boto3>=1.37,<2
arm-pyart>=2.1,<3
fastapi>=0.115,<1
geopy>=2.4,<3
mercantile>=1.2,<2
numpy>=2.1,<2.3
pandas>=2.2,<3
Pillow>=11,<13
pyproj>=3.7,<4
rasterio>=1.4,<2
scipy>=1.15,<2
uvicorn[standard]>=0.34,<1
# keras>=3.0
# torchvision
# torch
# huggingface_hub
# xarray
# netCDF4
# scipy
# pydap
# h5netcdf
# arm_pyart
