icecream
isort
ruff
requests
cartopy
nexradaws
arm_pyart
metpy
geopy
psycopg2
flask
zenodo_get
xarray
fastapi[all]
pytest

# ML/TorNet Deps
# torchvision
# lightning
# torchmetrics
# huggingface_hub
# keras>=3.0
# tensorflow-cpu
